{% extends "layout.html" %}
{% block body %}
  <h2>Add toilet</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('add_toilet') }}" method=post>
    <dl>
      <dt>Type:
      <dd><input type=text name=type>
      <dt>Location:
      <dd><input type=text name=location>
      <dt>Code:
      <dd><input type=text name=code>
      <dt>Gmap:
      <dd><input type=text name=gmap_url>
      <dd><input type=submit value=submitt!>
    </dl>
  </form>
{% endblock %}
