 <!DOCTYPE html>
<head>
<title>Ceasefire</title>
<link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet" media="screen">
</head>
<body>

<div class="navbar">
<div class="navbar-inner">
    <a class="brand" href="#">Contractor</a>
    <ul class="nav">
    {% block menu %}
        <li class="active"><a href="/contractor">All Open Requests</a></li>
        <li><a href="#">Completed Requests</a></li>
    {% endblock %}
    </ul>
</div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span16">
        {% block body %}{% endblock %}
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>
