{% extends "layout.html" %}

{% block body %}

<table style="margin: 0 auto; width: 100%;" class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Toilet</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        <tr class="severity-{{ request.severity }}">
            <td>{{ request.datetime.strftime('%d %B %Y at %H:%M') }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.toilet }}</td>
            <td>{{ request.toilet.location }}</td>
        </tr>
        {% else %}
        <tr>
            <td>We have no open services requests.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
