{% extends "contractors.html"  %}
{% block body %}

<table style="margin: 0 auto; width: 100%;" class="table table-striped">
    <thead>
        <tr>
            <th>Request #</th>
            <th>Toilet</th>
            <th>Phone Number</th>
            <th>Type</th>
            <th>Status</th>
            <th>Completed?</th>
        </tr>
    </thead>
    <tbody>
    {% for request in requests %}

    <tr>
        <td>{{ request.sid }}</td>
        <td>{{ request.toilet }}</td>
        <td>{{ request.phone_number }}</td>
        <td>{{ request.type }}</td>
        <td>{{ request.status }}</td>
        <td>
        {% if not request.status.name == 'Completed' %}
            <form method="post" action="{{url_for('send_sms')}}"  >

            <input type="hidden" name="request_id" value="{{ request.id }}">
            <input type="hidden" name="phone_number" value="{{ request.phone_number }}">
            <input type="hidden" name="service_id" value="{{ request.sid }}">
            <input type="submit" name="check" value="Done" class="btn">

            </form>
        {% endif %}
        </td>
    </tr>

    {% else %}
    <h1>Unbelievable.  No entries here so far</h1>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
